<html>
<header>
  <title>Northcoders News API</title>
</header>

<body>
  <center>
    <h1>
    Page Not Found.
  </h1>
  <p>
    Sorry, you entered an incorrect URL.<br>
    Please try again.
  </p>
  </center>
  
</body>

</html>